<% provide(:title, "Home") %>
<% if logged_in? %>
  <% if current_user.admin? %>
      <h1>welcome admin</h1>
  <% else %>
    <div class="container carousel-product">
      <div class="owl-carousel owl-theme">
        <% @tales.each do |tale| %>
          <div class="col-py-2">
            <div class="card product_item">
              <div class="body">
                <div class="cp_img">
                  <div class="img-main">
                    <%= image_tag tale.image if tale.image.attached? %>
                  </div> 
                </div>
                <div class="product_details">
                  <h5><%= link_to tale.title, preview_tale_path(tale.id) %></h5>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="container">
      <h1 class="list-title">Truyện mới nhất</h1>
      <div class="row clearfix">
        <%= render @newest_tales.first 8 %>
        <h3 class="newest"><%= link_to "xem thêm...", newest_tale_path(@tales.ids)%></h3>
      </div>
    </div>|
    <div class="container">
      <h1 class="list-title">Quan tâm nhiều nhất</h1>
      <div class="row clearfix">
        <%= render @many_followers.first 8 %>
        <h3 class="newest"><%= link_to "xem thêm...", many_follow_tale_path(@tales.ids)%></h3>
      </div>
    </div>
    <div class="container">
      <h1 class="list-title">Yêu thích nhiều nhất</h1>
      <div class="row clearfix">
        <%= render @many_favourites.first 8 %>
        <h3 class="newest"><%= link_to "xem thêm...", many_favourite_tale_path(@tales.ids)%></h3>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="wrapper-logout">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators" style="bottom: -15px;">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="hero">
            <hgroup>
                <h1>ĐƯA BÉ CHẠM GIẤC MƠ</h1>        
                <h3>Để bé có được nhưng giấc mơ đẹp</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button">Đọc Truyện</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">        
            <hgroup>
                <h1>ĐƯA BÉ CHẠM GIẤC MƠ</h1>        
                <h3>Để bé có được nhưng giấc mơ đẹp</h3>
            </hgroup>       
            <button class="btn btn-hero btn-lg" role="button">Đọc Truyện</button>
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">        
            <hgroup>
                <h1>ĐƯA BÉ CHẠM GIẤC MƠ</h1>        
                <h3>Để bé có được nhưng giấc mơ đẹp</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button">Đọc Truyện</button>
          </div>
        </div>
        <div class="carousel-product">
          <div class="carousel-form">
            <div class="owl-carousel carousel-home owl-carousel-four owl-theme">
              <% @tales.each do |tale| %>
                <div class="col-py-2">
                  <div class="card-2 product_item">
                    <div class="body">
                      <div class="cp_img">
                        <div class="img-carousel">
                          <%= image_tag tale.image if tale.image.attached? %>
                        </div> 
                      </div>
                      <div class="product_details-2">
                        <h5 class="text-overflow"><%= link_to tale.title, preview_tale_path(tale.id) %></h5>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>


<% end %>
