<%= form_for @tale do |f| %>
  <%= f.select(:category_id, Category.all.collect {|p| [ p.name, p.id ] }, {include_blank: " Category"})
 %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.label :description %>
  <%= f.text_field :description, class: 'form-control' %>
  <%= f.label :author %>
  <%= f.text_field :author, class: 'form-control' %>
  <div class="form-nested" id="tale-contents">
    <%= f.fields_for :tale_contents do |tale_content| %>
      <%= render "tale_content_fields", f: tale_content%>
    <%end%>
    <div class="links">
      <%= link_to_add_association "+ Add tale_content", f, :tale_contents %>
    </div>
  </div>
  <%= f.submit "create tale", class: "btn btn-primary" %>
<% end %>
