<div class="col-lg-3 col-md-4 col-sm-3 form-product">
  <div class="card product_item">
    <div class="body">
      <div class="cp_img">
        <%= link_to preview_tale_path(tale.id) do %>
          <%= image_tag tale.image if tale.image.attached? %>
        <% end %>
      </div>
      <div class="product_details">
        <ul class="product_price list-unstyled">
          <h5 class="text-overflow"><%= link_to tale.title, preview_tale_path(tale.id) %>
          <% if current_user.admin? %>
            <% if tale.archived? %>
            <div class="delete-edit">
              <button id="sendMessageButton" type="submit"><%= link_to "Duyệt",   update_status_tale_path(tale), method: :put %></button>
              <button id="sendMessageButton" type="submit"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, tale, method: :delete, data: { confirm: "Bạn chắc chứ?" } %></button>
            </div>
            <% else %>
              <div class="delete">
                <button id="sendMessageButton" type="submit"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, tale, method: :delete, data: { confirm: "Bạn chắc chứ?" } %></button>
              </div>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
