<div class="nested-fields">
  <%= f.select :content_type, options_for_select(
    [["text", "text"], ["void", "void"], ["image", "image"]], f.object.content_type),
    {}, class: "form-children-select" %>
  <div class="field">
    <div class="image hidden">
      <label>Ảnh:</label>
      <%= f.file_field :image %>
      <%= link_to_remove_association "- Xóa nội dung trên", f %>
      <p class="end">Hết trang</p>
    </div>
    <div class="text">
      <label>Chữ:</label>
      <%= f.cktext_area :text, class: 'form-control' %>
      <%= link_to_remove_association "- Xóa nội dung trên", f %>
    </div>
    <div class="audio hidden">
      <label>Ghi âm:</label>
      <%= f.file_field :audio %>
      <%= link_to_remove_association "- Xóa nội dung trên", f %>
    </div>
  </div>
</div>
<script>
  $(document).on('turbolinks:load', function() {
    $('.form-children-select').map(function(){
      if ($(this).val() == "text") {
        $(this).parent().find('.image').addClass('hidden');
        $(this).parent().find('.audio').addClass('hidden');
        $(this).parent().find('.text').removeClass('hidden');
      } else if($(this).val() == "void") {
        $(this).parent().find('.image').addClass('hidden');
        $(this).parent().find('.text').addClass('hidden');
        $(this).parent().find('.audio').removeClass('hidden');
      } else {
        $(this).parent().find('.audio').addClass('hidden');
        $(this).parent().find('.text').addClass('hidden');
        $(this).parent().find('.image').removeClass('hidden');
      }
    })
  })
  
  $('.form-children-select').on('change', function() {
    if ($(this).val() == "text") {
      $(this).parent().find('.image').addClass('hidden');
      $(this).parent().find('.audio').addClass('hidden');
      $(this).parent().find('.text').removeClass('hidden');
    } else if($(this).val() == "void") {
      $(this).parent().find('.image').addClass('hidden');
      $(this).parent().find('.text').addClass('hidden');
      $(this).parent().find('.audio').removeClass('hidden');
    } else {
      $(this).parent().find('.audio').addClass('hidden');
      $(this).parent().find('.text').addClass('hidden');
      $(this).parent().find('.image').removeClass('hidden');
    }
  })
</script>
