<div class="container bootdey">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="pro-img-details">
            <%= image_tag @tale.image if @tale.image.attached? %>
          </div>
          <div class="interactive">
            <%= render "users/follow_form" if logged_in? %>
            <%= render "users/favourite_form" if logged_in? %>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="pro-d-title">
            <h2>Tên: <%= @tale.title %></h2>
          </h4>
          <p>
            <h2>Tóm Tắt: <%= @tale.description %></h2>
          </p>
          <div class="product_meta">
            <span class="posted_in"> <strong>Thể Loại: </strong> <%= link_to @tale.category.name, category_path(@tale.category.id) %></span>
            <span class="tagged_as"><strong>Tác Giả: </strong><%= @tale.author %>.</span>
          </div>
          <section class="stats">
            <%= render "shared/stats" %>
          </section>
            <div class="average-review-rating" data-score=<%= @average_reviewtale %>></div>
            <span><strong><%= @tale.reviewtales.count %> lượt đánh giá</strong></span>
          </div>
          <p>
            <button class="btn btn-primary" type="button" ><h5><%= link_to "Đọc Truyện", tale_path(@tale.id) %></h5></button>
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="container review">
    <h1 class="login">ĐÁNH GIÁ TRUYỆN</h1>
    <button class="btn btn-primary" type="button" ><h5><%= link_to "Đánh giá", new_tale_reviewtale_path(@tale)%></h5></button>
    <%= render @tale.reviewtales %>
  </div>
</div>

<script>
   $('.review-rating').raty({
   readOnly: true,
   score: function(){
     return $(this).attr('data-score');
   },
   path: '/assets/'
   });
</script>

<script>
  $(".average-review-rating").raty({
    readOnly: true,
    path: "/assets",
    score: function(){
      return $(this).attr("data-score")
    }
  }); 
</script>
