<div class="container bootdey">
  <div class="col-md-12 col-sm-12">
    <section class="panel">
      <div class="panel-body">
        <div class="col-md-6 col-sm-6">
          <div class="pro-img-details">
            <%= image_tag @tale.image if @tale.image.attached? %>
          </div>
          <div class="interactive">
            <%= render "users/follow_form" if user_signed_in? %>
            <%= render "users/favourite_form" if user_signed_in? %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <h4 class="pro-d-title">
            <h1 class="optima"><%= @tale.title %></h1>
          </h4>
          <p>
            <span class="tomtat optima"><strong>Tóm Tắt: </strong> <%= @tale.description %></span>
          </p>
          <div class="product_meta">
            <span class="posted_in optima"> <strong >Thể Loại: </strong> <%= link_to @tale.category.name, category_path(@tale.category.id) %></span>
            <% if @tale.author %>
              <span class="posted_in optima"><strong class="optima">Tác Giả: </strong><%= link_to @tale.author.name, author_path(@tale.author.id) %></span>
            <% else %>
              <span class="posted_in optima"><strong class="optima">Tác Giả: </strong><%= @tale.author_user%></span>
            <% end %>
          </div>
          <section class="stats">
            <%= render "shared/stats" %>
          </section>
            <div class="average-review-rating " data-score=<%= @average_reviewtale %>></div>
            <span><strong class="optima"><%= @tale.reviewtales.count %> lượt đánh giá</strong></span>
          <p>
            <button class="btn btn-primary" type="button" ><h5 class="optima"><%= link_to "Đọc Truyện", tale_path(@tale.id) %></h5></button>
          </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% if @tale.approved? %>
    <div class="container review">
      <h1 class="login">ĐÁNH GIÁ TRUYỆN</h1>
      <div class="form_review">
        <%= render "reviewtales/form" %>
      </div>
      <div id="reviewtales">
        <%= render @tale.reviewtales.order("updated_at DESC") %>
      </div>
    </div>
  <% elsif @tale.refused? %>
    <div class="container">
      <div class="contact">
        <div class="title_request">
          <p><strong class="optima">Phản hồi từ Admin</strong></p>
        </div>
        <div class="title_request">
          <p style="word-wrap: break-word;" class="optima">Nội dung: <%= @tale.reason_reject %></p>
        </div>
      </div>
    </div>
  <% else %>
  <% end %>
</div>
