<% button_submit =  params[:action] == "edit" ? "Cập nhật" : "Tạo mới" %>
<%= form_for(@author) do |f| %>
  <label>Tên tác giả:</label>
  <%= f.text_field :name, class: 'form-control' %>
  <label>Ảnh tác giả:</label>
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  <label>Tiểu sử:</label>
  <%= f.text_area :profile, cols: 20, rows: 8 , class: 'form-control'%>
  <%= f.submit button_submit, class: "btn btn-primary" %>
<% end %>
