<% if current_user.admin? %>
  <div class="btn">
    <span>
      <div class="form_search">
        <%= form_tag authors_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
          <%= text_field_tag :term, params[:term], class: "form-control mr-sm-0", placeholder: "Tìm kiếm tên tác giả..."  %>
          <%= submit_tag "Tìm kiếm", class: "search_text" %>
        <% end %>
      </div>
    </span>
  </div>
<% end %>
<% if current_user.admin? %>
<h1>Tất cả Tác Giả</h1>
  <table>
    <tr>
      <th>Tên tác giả</th>
      <th>thao tác</th>
    </tr>
    <%= render @authors%>
  </table>
<% else %>
  <h1 class="login">Tất cả Tác Giả</h1>
  <table>
    <%= render @authors%>
  </table>
<% end %>
