<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="twPc-div">
      <%= form_for(@user) do |f| %>
        <div id="change_cover_image">
          <% if @user.cover_image.attached? %>
            <%= image_tag(@user.cover_image, alt: "ảnh bìa", class: 'twPc-bg twPc-block') %>
          <% else %>
            <img alt="ảnh bìa" class="twPc-bg twPc-block" src="https://i.pinimg.com/736x/c1/f9/47/c1f94730a71def6ae34ff2221051d523.jpg">
          <% end %>
        </div>
        <div class="twPc-button">
          <button class="btn button-submit-cover-image form_edit_review" type="submit" ><h5 class="optima">Thay ảnh</h5></button>
          <%= f.file_field :cover_image, style: "display: none"%>
          <% if @user == current_user %>
            <%= f.label :cover_image, '<i class="fa fa-camera" aria-hidden="true"> Chỉnh sửa ảnh bìa</i>'.html_safe, class: "btn button-cover-image optima" %>
          <% end %>
        </div>
      <% end %>

      <%= form_for(@user) do |f| %>
        <div class="twPc-avatarLink">
          <div id="change_image">
            <% if f.object.image.attached? %>
              <%= image_tag(f.object.image, alt: "ảnh đại diện", class: 'twPc-avatarImg') %>
            <% else %>
              <img alt="ảnh đại diện" class="twPc-avatarImg" src="https://png.pngtree.com/png-clipart/20190904/original/pngtree-hand-drawn-flat-wind-user-avatar-icon-png-image_4492039.jpg">
            <% end %>
          </div>
          <%= f.file_field :image, style: "display: none"%>
          <% if @user == current_user %>
            <%= f.label :image, '<i class="fa fa-camera mr-top" aria-hidden="true"></i>'.html_safe, class: "btn button-change-image" %>
          <% end %>
          <button class="btn button-submit-image" type="submit" ><h5 class="optima">Thay</h5></button>
        </div>
      <% end %>

      <div class="twPc-divUser">
        <div class="twPc-divName">
          <strong class="optima"><%= @user.name %></strong>
        </div>
        <span>
          <p class="optima"><%= @user.email %></p>
        </span>
      </div>

      <div class="twPc-divStats">
        <ul class="twPc-Arrange">
          <li class="twPc-ArrangeSizeFit">
            <span class="twPc-StatLabel twPc-block">Ngày sử dụng</span>
            <span class="twPc-StatValue optima"><%= ((Time.now - @user.created_at).to_i / 1.day).abs %> Ngày</span>
          </li>
          <li class="twPc-ArrangeSizeFit">
            <span class="twPc-StatLabel twPc-block">Truyện đã thích</span>
            <span class="twPc-StatValue optima"><%= @user.favouriting.size %> Cuốn</span>
          </li>
          <li class="twPc-ArrangeSizeFit">
            <span class="twPc-StatLabel twPc-block">Truyện đang theo dõi</span>
            <span class="twPc-StatValue optima"><%= @user.following.size %> Cuốn</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#user_image").on("change", function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        img.src = file.target.result;
        $("#change_image").html(img).children().addClass("twPc-avatarImg");
        $(".button-submit-image").css("display", "block");
      }
      reader.readAsDataURL(image);
    });
  });

  $(function() {
    $("#user_cover_image").on("change", function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        img.src = file.target.result;
        $("#change_cover_image").html(img).children().addClass("twPc-bg twPc-block");
        $(".button-submit-cover-image").removeClass('form_edit_review');
      }
      reader.readAsDataURL(image);
    });
  });
</script>
