<div id="review-<%= reviewtale.id %>">
  <h2 class="optima"><%= reviewtale.user.name %></h2>
  <div id="review-rating-<%= reviewtale.id %>" data-score=<%= reviewtale.rating %>></div>
  <p clsss="optima"><%= reviewtale.comment%></p>
  <% if user_signed_in? %>
    <% if reviewtale.user_id == current_user.id%>
      <button id="edit-<%= reviewtale.id %>" type="submit"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe,  edit_tale_reviewtale_path(tale_id: @tale.id,id: reviewtale.id) %></button>
      <button id="destory-<%= reviewtale.id %>" type="submit"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, tale_reviewtale_path(tale_id: @tale.id,id: reviewtale.id), remote: true, method: :delete %></button>
      <p><%= reviewtale.created_at&.strftime("%H:%M Ngày %d/%m/%Y") %></p>
    <% end %>
  <% end %>
</div>
<script>
  $('#review-rating-<%= reviewtale.id %>').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/images/ratyrate'
  });
</script>
