<h2><%= reviewtale.user.name %></h2>
<div class="review-rating" data-score=<%= reviewtale.rating %>></div>
<p><%= reviewtale.comment%></p>

<% if user_signed_in? %>
  <% if reviewtale.user_id == current_user.id%>
    <button id="sendMessageButton" type="submit"><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe,  edit_tale_reviewtale_path(tale_id: reviewtale.tale.id,id: reviewtale.id) %></button>
    <button id="sendMessageButton" type="submit"><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, tale_reviewtale_path(tale_id: reviewtale.tale.id,id: reviewtale.id), method: :delete %></button>
  <% end %>
<% end %>
