<div class="wrapper-admin">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3> Truyện thiếu nhi</h3>                
    </div>
    <ul class="list-unstyled components">
      <li>
       <%= link_to '<i class="fa fa-home"></i> Trang chủ'.html_safe, root_path %>
      </li>
      <li class="active">
        <a href="#homeSubmenu" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false"><i class='fa fa-user'> Người dùng </i> </a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><%= link_to "Đăng ký", new_user_path, class: "nav-link" %></li>
          <li><%= link_to "Tât cả người dùng", users_path, class: "nav-link" %></li>
        </ul>
      </li>
      <li>
        <a href="#Tale" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false"><i class='fa fa-book'>  Truyện </i> </a>
        <ul class="collapse list-unstyled" id="Tale">
          <li><%= link_to "Tạo truyện", new_tale_path, class: "nav-link" %></li>
          <li><%= link_to "Tất cả truyện", tales_path, class: "nav-link" %></li>
        </ul>
      </li>
      <li>
        <a href="#category" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false"><i class='fa fa-list-alt'>  Thể loại </i></a>
        <ul class="collapse list-unstyled" id="category">
          <li><%= link_to "Tạo thể loại", new_category_path , class: "nav-link" %></li>
          <li><%= link_to "Tất cả thể loại", categories_path, class: "nav-link" %></li>
        </ul>
      </li>
      <li>
        <a href="#author" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false"><i class='fa fa-user-md'>  Tác giả </i></a>
        <ul class="collapse list-unstyled" id="author">
          <li><%= link_to "Tạo Tác giả", new_author_path , class: "nav-link" %></li>
          <li><%= link_to "Tất cả Tác giả", authors_path, class: "nav-link" %></li>
        </ul>
      </li>
      <li>
        <a href="#request" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false"><i class='fa fa-envelope-o'>  Phản hồi </i></a>
        <ul class="collapse list-unstyled" id="request">
          <li><%= link_to "Yêu cầu thêm truyện", show_archived_tales_path , class: "nav-link" %></li>
          <li><%= link_to "Tất cả phản hồi", requests_path , class: "nav-link" %></li>
          <li><%= link_to "Phản hồi đã xem", show_seen_requests_path , class: "nav-link" %></li>
          <li><%= link_to "Phản hồi chưa xem", show_not_seen_requests_path , class: "nav-link" %></li>
        </ul>
      </li>
      <li><%= link_to "<i class="fa fa-sign-out"></i> Đăng xuất".html_safe, logout_path, method: :delete %></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" style="background: #fed136;">
    <i class='fa fa-align-justify'></i></button>
    <%= yield %>
  </div>
</div>
