<% if logged_in? %>
  <% if current_user.admin? %>
  <% else %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              Trang chủ <span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="dropdown">
            <a class="nav-link" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Thể loại
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= render @categories %>
            </div>
          </li>
          <li class="nav-item"><%= link_to "Yêu thích", favouriting_users_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Theo dõi", following_users_path, class: "nav-link" %></li>
          <li class="dropdown">
            <a class="nav-link" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
              Yêu cầu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Thêm truyện của tôi", new_tale_path, class: "dropdown-item"  %>
              <%= link_to "Phản hồi ý kiến", contact_path, class: "dropdown-item"  %>
            </div>
          </li>
          <div>
            <%= form_tag tales_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
              <%= text_field_tag :term, params[:term], class: "form-control mr-sm-0", placeholder: "Tìm kiếm truyện...",style: "font-family: optima;"  %>
              <%= submit_tag 'Tìm', style: "color: #6c757d;font-family: optima;" %>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" style="color: #fed136;">
        Tài khoản
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "Trang cá nhân", current_user, class: "dropdown-item"  %>
        <%= link_to "Cài đặt", edit_user_path(current_user), class: "dropdown-item" %>
        <%= link_to "Đăng xuất", logout_path, method: :delete, class: "dropdown-item"%>
      </div>
    </div>
  </nav>
  <% end %>
<% else %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
            TRANG CHỦ <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <li class="nav-item"><%= link_to "CHÚNG TÔI", about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "LIÊN HỆ", contact_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ĐĂNG NHẬP", login_path, class: "nav-link" %></li>
      </ul>
    </div>
  </div>
</nav>
<% end %>
